<div>
  <div class="balance-user">
    <span class="text-balance"> Seu saldo é:     </span>
    <span class="balance">R$ {{balanceUser}}  </span>
  </div>
  <div>
    <div>
      <h1>Seleciona uma das opções a seguir:</h1>
    </div>
    <div>
      <div class="open-modals" (click)="openDialogTransferBalance()">Transferir dinheiro <i class="bi bi-arrow-right arrow-spance"></i></div>
      <div class="open-modals" (click)="openDialogDrawBalance()">Sacar dinheiro <i class="bi bi-arrow-right arrow-spance"></i></div>
      <div class="open-modals" (click)="openDialogDepositBalance()">Depositar dinheiro <i class="bi bi-arrow-right arrow-spance"></i></div>
    </div>
  </div>
</div>
