<article class="container-profile">
  <div class="block-welcome">
    <div>
      <p>
        Seja bem-vindo ao banco do GIFEDO.<br>
        Aque está sua conta bancária.<br>
        Aproveite a experiência unica com o aplicativo.
      </p>
    </div>  
  </div>
  <div class="block-profile">
    <div class="circle">
    </div>
    <div class="block-name-profile">
      <p>{{ name }}</p>
    </div>
  </div>
  <div class="block-buttons">
    <div class="edit-profile" (click)="openDialogEditProfile()">
      Editar Perfil
    </div>
    <div class="delete-account" (click)="openDialogDeleteProfile()">
      Deletar uma conta
    </div>
  </div>
  <div class="button-exit">
    <button class="btn btn-warning" type="button" (click)="logout()">Sair</button>
  </div>
</article>
<aside class="container-balance">
  <div>
    <p>Seu saldo é de: </p><span>{{ balance }}</span>
  </div>
</aside>