<article class="container-profile">
  <div class="block-welcome">
    <div>
      <p>
        Seja bem-vindo ao banco do GIFEDO.<br>
        Aque está sua conta bancária.<br>
        Aproveite a experiência unica com o aplicativo.
      </p>
    </div>  
  </div>
  <div class="block-profile">
    <div class="circle">
    </div>
    <div class="block-name-profile">
      <p>nome do perfil</p>
    </div>
  </div>
  <div class="block-buttons">
    <div class="edit-profile">
      Editar Perfil
    </div>
    <div class="delete-account">
      Deletar uma conta
    </div>
  </div>
</article>
<hr>
<aside class="container-balance">
  <div>
    <p>Seu saldo é de: </p><span>1.000.000.00</span>
  </div>
</aside>