<div mat-dialog-title class="title">
  <h2>SACAR</h2>
  <i class="bi bi-x-lg" mat-dialog-close></i>
</div>
<mat-dialog-content>
  <form class="form-cadastro" (ngSubmit)="onSubmit(form)" #form="ngForm">
    <div class="mb-3">
      <label for="name" class="form-label">Valor para deposito</label>
      <input type="number" class="form-control" name="draw" id="name" aria-describedby="sacar"
      placeholder="Digita o valor" selected ngModel>
      <div class="invalid-feedback" *ngIf="messageError != null && messageError != undefined">
        {{messageError}}
      </div>
      <div class="valid-feedback" *ngIf="success == true">
        Sucesso na ação !
      </div>
    </div>
    <button type="button" id="deleteUser" class="btn btn-success" (click)="depositBalance(form.value['draw'])">
      Sacar
    </button>
  </form>
</mat-dialog-content>