.container-terms {
    margin: 150px 80px 0 80px;
    border: 5px solid black;

    height: 75%;
    width: 70%;

    display: flex;
    flex-direction: column;
    justify-content:center;
    text-align: center;
}

.content-terms{
    padding: 10px;
    width: 60%;
    height: 70%;

    margin:auto;
    border: 2px solid black;
}

.content-check {
    display: flex;
    justify-content: center;
    height: 60px;
}

.text-terms {
    word-wrap: break-word;
}

.invalid-feedback {
    display: block;
}