<div mat-dialog-title class="title">
  <h2>Editar Perfil</h2>
  <i class="bi bi-x-lg" mat-dialog-close></i>
</div>
<mat-dialog-content>
  <form class="form-cadastro" (ngSubmit)="onSubmit(form)" #form="ngForm">
    <div class="mb-3">
      <label for="name" class="form-label">NOME</label>
      <input type="email" class="form-control" name="name" id="name" aria-describedby="emailHelp" ngModel>
    </div>

    <div class="mb-3">
      <label for="cpf" class="form-label">CPF</label>
      <input type="number" class="form-control" name="cpf" value="emailAccount" id="cpf"  ngModel>
      <!--div class="invalid-feedback">
        Campo desativado, pois ele não pode ser alterado.
      </div-->
    </div>

    <div class="mb-3">
      <label for="cep" class="form-label">CEP</label>
      <input type="number" class="form-control" name="cep" id="cep" ngModel>
    </div>

    <div class="mb-3">
      <label for="emailProfile" class="form-label">EMAIL</label>
      <input type="String" class="form-control" name="email" [value]="this.cpfAccount" id="email"  ngModel>
      <!--div class="invalid-feedback">
        Campo desativado, pois ele não pode ser alterado.
      </div-->
    </div>

    <div class="mb-3">
      <label for="age" class="form-label">IDADE</label>
      <input type="number" class="form-control" name="age" id="age" ngModel>
    </div>

    <div class="mb-3">
      <label for="actualPassword" class="form-label">SENHA ATUAL</label>
      <input type="password" class="form-control" name="password" id="actualPassword" ngModel>
    </div>

    <!--div class="mb-3">
      <label for="newPassword" class="form-label">NOVA SENHA</label>
      <input type="password" class="form-control" name="newPassword" id="newPassword" ngModel>
    </div>

    <div class="mb-3">
      <label for="repeatNewPassword" class="form-label">REPITA A NOVA SENHA</label>
      <input type="password" class="form-control" name="repeatNewPassword" id="repeatNewPassword" ngModel>
    </div-->

    <button type="submit" class="btn btn-primary" >Editar perfil</button>
  </form>
</mat-dialog-content>
