<div mat-dialog-title class="title">
  <h2>Editar Perfil</h2>
  <i class="bi bi-x-lg" mat-dialog-close></i>
</div>
<mat-dialog-content>
  <form>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">NOME</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>

    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">CPF</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>

    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">CEP</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>

    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">EMAIL</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>

    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">IDADE</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>

    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">SENHA ATUAL</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>

    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">NOVA SENHA</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>

    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">REPITA A NOVA SENHA</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</mat-dialog-content>
