.recipiente-cadastro {
    margin: 80px;
    border: 5px solid black;

    height: 800px;

    display: flex;
    flex-direction: column;
    text-align: center;
}

.cabecalho-cadastro{
    margin-top: 40px;
}

.form-cadastro {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-cadastro div {
    margin-bottom: 40px;
}

.form-cadastro div:nth-child(1){
    margin-top: 80px;
}

.botao-cadastrar {
    padding: 5px;
    margin: auto;

    width: 300px;
    text-align: center;

    background-color: blue;
    color: white;

    border-radius: 10px;
}