<div class="recipiente-cadastro">
  <div class="cabecalho-cadastro">
    <h1>Area de cadastro</h1>
  </div>
  <form class="form-cadastro">
    <div>
      <label for="nome">Nome: </label>
      <input type="text" name="nome">
    </div>

    <div>
      <label for="email">Email: </label>
      <input type="text" name="email">
    </div> 

    <div>  
      <label for="cep">CEP: </label>
      <input type="text" name="cep">
    </div>   

    <div>
      <label for="cpf">CPF: </label>
      <input type="text" name="cpf" >
    </div>

    <div>
      <label for="idade">Idade: </label>
      <input type="text" name="idade" >
    </div>   

    <div>
      <label for="senha">SENHA: </label>
      <input type="text" name="senha" >
    </div> 
      
    <div>
      <label for="rep-senha">Repita a senha: </label>
      <input type="text" name="rep-senha" >  
    </div>  

    <button class="botao-cadastrar" >Cadastrar-se</button>
  </form>
</div>
