<header>
  <div class="logo">
    <h4>NOSSA OLHA SÓ QUE LOGO LEGAL QUE NÓS TEMOS AQUI,
    IMAGINE PALAVRAS BONITAS<br>
    BEM-VINDO AO <b>BANCO GIFEDO</b>
    </h4>
    <img> <span>Vai ser uma imagem</span>
  </div>
  <div class="login">
    <form (ngSubmit)="onSubmit(form)" #form="ngForm">

      <div class="content-fields">
        <div class="mb-3 email-field">
          <label for="email" class="form-label">Email </label>
          <input type="email" name="email" id="email" class="form-control"  
          ngModel required>
          <div class="invalid-feedback" *ngIf="error == true">
            Credênciais incorretas, tente novamente !
          </div>
        </div>

        <div class="mb-3 password-field">
          <label for="password" class="form-label">Senha </label>
          <input type="password" name="password" id="password" class="form-control"
          ngModel required>
          <div class="invalid-feedback" *ngIf="error == true">
            Credênciais incorretas, tente novamente !
          </div>
        </div>
      </div>

      <div class="content-button">
        <button type="submit" class="button-enter">
          Entrar
        </button>
      </div>

    </form>  
  </div>
</header>

<article class="container-register-terms">
  <div class="terms">
    <app-Termos (checkBoxValido)="validateCheckBox($event)"></app-Termos>
  </div>
  <div class="register">
    <app-Cadastro [check]="checkValue"></app-Cadastro>
  </div>
</article>