<header>
  <div class="logo">
    <h4>NOSSA OLHA SÓ QUE LOGO LEGAL QUE NÓS TEMOS AQUI,
    IMAGINE PALAVRAS BONITAS<br>
    BEM-VINDO AO <b>BANCO GIFEDO</b>
    </h4>
    <img> <span>Vai ser uma imagem</span>
  </div>
  <div class="login">
    <form>
      <div class="conteudo-campos">
        <div class="email">
          <label for="senha">Email: </label>
          <input type="text" name="senha">
        </div>
        <div class="senha">
          <label for="senha">Senha: </label>
          <input type="password" name=senha>
        </div>
      </div>
      <div class="conteudo-botao">
        <button class="botao-entrar">
          Entrar
        </button>
      </div>  
    </form>  
  </div>
</header>
