<header>
  <div class="logo">
    <h4>NOSSA OLHA SÓ QUE LOGO LEGAL QUE NÓS TEMOS AQUI,
    IMAGINE PALAVRAS BONITAS<br>
    BEM-VINDO AO <b>BANCO GIFEDO</b>
    </h4>
    <img> <span>Vai ser uma imagem</span>
  </div>
  <div class="login">
    <form (ngSubmit)="onSubmit(form)" #form="ngForm">

      <div class="conteudo-campos">
        <div class="email">
          <label for="email">Email: </label>
          <input type="email" name="email" id="email" ngModel>
        </div>

        <div class="senha">
          <label for="senha">Senha: </label>
          <input type="password" name="senha" id="senha" ngModel>
        </div>
        
        <div class="conteudo-botao">
          <button type="submit" class="botao-entrar">
            Entrar
          </button>
        </div>  
      </div>
    </form>  
  </div>
</header>
